<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cadastro de pets</title>
    <link rel="stylesheet" th:href="@{/css/root.css}" />
    <link rel="stylesheet" th:href="@{/css/menu.css}" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/cadastro de pets/forminsert">Cadastrar novo pets</a></li>
          <li><a href="/cadastro de pets/list">Listar pets</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <img
        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fqi.edu.br%2Fimages%2Fpartners%2Fimagemfilial%2FIMAGEM-Biblioteca-20170405-132404.jpg&f=1&nofb=1"
        alt="cadastro de pets"
      />
    </main>
  </body>
</html>
